﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MTG Tracker</h1>
    <p>Track your Magic: the Gathering collection or your win-loss statistics.</p>
</div>
